<h1>{{title}}</h1>

<div class="row">
  <div class="col-md-6">
    <h2>Folders:</h2>
    <div class="folderWrapper">
      <ul>
        <li *ngFor="let folder of folders" class="folderPage">
          <span (click)="getPages(folder.id)">{{folder.title}}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <h2>Folder pages:</h2>
    <div class="folderWrapper">
      <ul>
        <li *ngFor="let page of pages">
          <span>{{page.title}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="form-group">
  <input id="folderName" type="text" #folderName (keyup.enter)="createFolder(folderName.value)" class="search-query form-control"
         placeholder="Press Enter to save new folder"/>
</div>

<div class="form-group">
  <button (click)="goBack()" class="btn btn-default">Back</button>
</div>

