h1 {
	color: #369;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 250%;
}

.folderWrapper ul, .homeWrapper ul {
	padding: 0;
}

.folderWrapper ul li, .homeWrapper ul li {
	list-style-type: none;
}

.folderWrapper li.folderPage {
	cursor: pointer;
}

h2 .editLabel {
	font-size: 0.4em;
	cursor: pointer;
	margin-left: 10px;
}