<h1>{{title}}</h1>

<div>
  <h2>Search Results:</h2>
  <div class="row">
    <div class="col-md-12">
      <ol>
        <li *ngFor="let sr of searchResults">
          <a [routerLink]="['/page-details', sr.id]" class="col-1-4">
            <span>{{sr.title}}</span>
          </a>
          <p>{{sr.summary}}</p>
        </li>
      </ol>
    </div>
  </div>
</div>

<button (click)="goBack()" class="btn btn-default">Back</button>