<div class="homeWrapper">
  <h1>{{title}}</h1>

  <div class="row">
    <div class="col-md-12">
      <input #searchInput id="searchInput" class="search-query form-control" [(ngModel)]="searchTitle" (change)="goToSearchPage(searchInput.value)"
             placeholder="Search Title">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>Favorites1 <span class="glyphicon glyphicon-star"></span></h2>
      <ul>
        <li *ngFor="let page of pages">
          <a *ngIf="page.f1" [routerLink]="['/page-details', page.id]" class="col-1-4">
            <span>{{page.title}}</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="col-md-6">
      <h2>Favorites2 <span class="glyphicon glyphicon-bookmark"></span></h2>
      <ul>
        <li *ngFor="let page of pages">
          <a *ngIf="page.f2" [routerLink]="['/page-details', page.id]" class="col-1-4">
            <span>{{page.title}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>