<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/folder" routerLinkActive="active">Folder</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>