<h1>{{title}}</h1>
<div class="row">
  <div class="col-md-12">
    <h2>{{page?.title}}<span class="label label-default editLabel" (click)="pageDetailsModal.open()">Edit Page Details</span></h2>
    <p class="well">{{page?.summary}}</p>
  </div>
</div>

<p>Favorites:
  <span *ngIf="!page?.f1 && !page?.f2">none</span>
  <span *ngIf="page?.f1" class="glyphicon glyphicon-star"></span>
  <span *ngIf="page?.f2" class="glyphicon glyphicon-bookmark"></span>
</p>
<p>Folder:
  <span class="label label-info">{{selectFolder?.title}}</span>
</p>

<div class="form-group">
  <button (click)="goBack()" class="btn btn-default">Back</button>
</div>

<modal #pageDetailsModal>
  <modal-header>
    <h1>Edit Page Details</h1>
  </modal-header>
  <modal-content>
    <div class="form-group">
      <label for="favorite1">Favorite1 <span class="glyphicon glyphicon-star"></span>:</label>
      <input id="favorite1" type="checkbox" [checked]="page?.f1" (change)="page.f1 = !page.f1"/>
    </div>
    <div class="form-group">
      <label for="favorite2">Favorite2 <span class="glyphicon glyphicon-bookmark"></span>:</label>
      <input id="favorite2" type="checkbox" [checked]="page?.f2" (change)="page.f2 = !page.f2"/>
    </div>
    <div class="form-group">
      <label for="selectFolder">Folder:</label>
      <select id="selectFolder" [(ngModel)]="selectFolder">
        <option *ngFor="let folder of folders" [ngValue]="folder" [selected]="selectFolder.id === folder.id">{{folder.title}}</option>
      </select>
    </div>
  </modal-content>
  <modal-footer>
    <button class="btn btn-success" (click)="savePage()">Save</button>
  </modal-footer>
</modal>
